.partners {
  @apply border-2 border-solid border-black;
  @apply rounded-tr-lg rounded-bl-lg;
  @apply text-2xl overflow-hidden;
  @apply flex items-center;
  @apply py-4 mb-10 gap-10;

  span {
    @apply flex uppercase items-center text-center gap-10;
    animation: slide 30s linear infinite;

    img {
      @apply m-0 whitespace-nowrap;
    }

    svg {
      @apply min-w-[57px];
    }
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-2010px, 0, 0);
  }
}
