.heading {
  @apply text-[24px] text-white text-center;
}

.partners {
  @apply flex items-center gap-[40px];
  @apply max-w-[1340px];
  @apply overflow-hidden;

  span {
    animation: slide 30s linear infinite;

    img {
      @apply min-w-[150px];
    }
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-3800px, 0, 0);
  }
}
